.header{
  grid-area: h;
  background-color: rgb(102, 5, 102);
}

.header img{
  width: 90px;
  margin-left: 50px;
  
}

.loginBlock{
  float: right;
  padding: 5px;
}

.loginBlock a{
  color: rgb(255, 255, 255);
}